<h1>Your reservation detail</h1>
<p>check in date : <%= @reservation.start_date %></p>
<br />
<p>check out date :  <%= @reservation.end_date %></p>
<br />
<p>You have reserved: <%= @reservation.listing.list_name %> </p>
